* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f8;

    /* Center everything */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.app-container {
    background: rgb(50, 45, 45);
    padding: 2rem;
    width: 100%;
    max-width: 420px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 1rem;
}

button {
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.task {
    margin-top: 12px;
    padding: 10px;
    border-radius: 6px;
    text-align: left;
}

.task.low {
    background: #00ff15;
}

.task.medium {
    background: #fbff00;
}

.task.high {
    background: #ff1900;
}